.select {
    min-width: 200px;
    width: min-content;
    z-index: 1;
}

.selected {
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: .2s linear;
    gap: 40px;
    white-space: nowrap;
}

.selected, .select ul {
    background-color: #61dafb;
}

.select:focus-visible {
    outline: none;
}

.select:focus-visible .selectedOption {
    font-weight: 900;
}

.selectOpened {
    border-radius: 20px 20px 0 0;
}

.select ul {
    width: 100%;
    position: absolute;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    box-shadow: -10px 10px 10px 1px rgba(0, 0, 0, .7);
    z-index: -1;
}

.select li {
    padding: 20px;
    cursor: pointer;
    transition: .2s linear;
}

.selection {
    background-color: #fff;
    color: darkblue;
}

.locked {
    opacity: .5;
}

.locked:hover {
    cursor: not-allowed;
}