.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0ff;
    word-wrap: anywhere;
    z-index: 1;
}

.loading h3 {
    font-size: 10rem;
    font-weight: 1000;
}

.logo {
    font-size: 8rem;
    font-family: Arial, sans-serif;
    display: inline-block;
    animation: spinning infinite 10s linear;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}