.search {
    border-radius: 40px;
    border: solid 4px #61dafb;
    display: flex;
    flex-grow: 1;
    min-width: 0;
    padding: 15px 20px;
    font-size: 1.5rem;
}

.search button {
    font-size: inherit;
}

.search input {
    flex-grow: 1;
    text-overflow: ellipsis;
    padding: 0 20px;
    font-size: inherit;
    color: inherit;
    min-width: 0;
}

.search input::placeholder {
    color: rgba(255, 255, 255, .7);
    font-size: inherit;
}